/* from https://codepen.io/enxaneta/pen/adLPwv */
/*flex-direction: row | row-reverse | column | column-reverse;*/

.flex-container.row {
    flex-direction: row;
}

.flex-container.row-reverse {
    flex-direction: row-reverse;
}

.flex-container.column {
    flex-direction: column;
}

.flex-container.column-reverse {
    flex-direction: column-reverse;
}

/*flex-wrap: nowrap | wrap | wrap-reverse;*/

.flex-container.nowrap {
    flex-wrap: nowrap;
}

.flex-container.wrap {
    flex-wrap: wrap;
}

.flex-container.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/*align-items: flex-start | flex-end | center | baseline | stretch;*/

.flex-container.align-items-start {
    align-items: flex-start;
}

.flex-container.align-items-end {
    align-items: flex-end;
}

.flex-container.align-items-center {
    align-items: center;
}

.flex-container.align-items-baseline {
    align-items: baseline;
}

.flex-container.align-items-stretch {
    align-items: stretch;
}

/*justify-content: flex-start | flex-end | center | space-between | space-around;*/

.flex-container.justify-start {
    justify-content: flex-start;
}

.flex-container.justify-end {
    justify-content: flex-end;
}

.flex-container.justify-center {
    justify-content: center;
}

.flex-container.justify-space-between {
    justify-content: space-between;
}

.flex-container.justify-space-around {
    justify-content: space-around;
}

/*align-content: flex-start | flex-end | center | space-between | space-around | stretch;*/

.flex-container.align-content-start {
    align-content: flex-start;
}

.flex-container.align-content-end {
    align-content: flex-end;
}

.flex-container.align-content-center {
    align-content: center;
}

.flex-container.align-content-space-between {
    align-content: space-between;
}

.flex-container.align-content-space-around {
    /*distribute;*/
    align-content: space-around;
}

.flex-container.align-content-stretch {
    align-content: stretch;
}

/*align-self: auto | flex-start | flex-end | center | baseline | stretch;*/

.item.align-self-auto {
    align-self: auto;
}

.item.align-self-start {
    align-self: flex-start;
}

.item.align-self-end {
    align-self: flex-end;
}

.item.align-self-center {
    align-self: center;
}

.item.align-self-baseline {
    align-self: baseline;
}

.item.align-self-stretch {
    align-self: stretch;
}

.item.flex-grow1 {
    flex-grow: 1;
}

.item.flex-grow2 {
    flex-grow: 2;
}

.item.flex-grow3 {
    flex-grow: 3;
}

.item.flex-grow4 {
    flex-grow: 4;
}

.principal {
    width: calc(50% - 40px);
    min-width: 525px;
    margin: 0 20px 20px 20px;
    float: left;
}

h1 {
    font-size: 3em;
    margin: 20px;
}
h2 {
    font-size: 180%;
    margin: 0px;
}
h4 {
    display: flex;
    align-items: center;
}
h4 span {
    font-variant: small-caps;
    font-size: 120%;
    color: #ddd;
    text-decoration: none;
    margin-right: 4px;
}
h4 small {
    font-variant: normal;
    font-size: 80%;
    font-weight: normal;
    color: #57bcdb;
}

.flex-container {
    border: 1px solid #555;
    display: flex;
    padding: 20px;
    width: 100%;
}
.item {
    margin: 0;
    display: inherit;
    padding: 10px;
    width: 100px;
    min-height: 100px;
    align-items: center;
}
.item p {
    width: 100%;
    text-align: center;
    color: #fff;
}
#direction .item {
    flex-wrap: wrap;
}

.nbsp {
    white-space: nowrap;
}
.radio {
    margin: 1em 0;
}
.control {
    margin-top: 3em;
}

.colorful-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #f5222d, #faad14);
}

@media only screen and (max-width: 1100px) {
    .principal {
        width: calc(100% - 40px);
    }
}
@media only screen and (max-width: 580px) {
    .item {
        width: 80px;
        height: 80px;
    }
    .principal {
        width: calc(100% - 40px);
        min-width: initial;
    }
    .flex-container {
        width: 100%;
        min-width: initial;
    }
    #wrap {
        width: 200px;
    }
}
